<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
        
        <body>
             <div class="main-content">
            {{>header}}
            <p>This site was created by Serginni Marten.
                <br>It uses data from weatherstack.com and mapbox.com!</p>
            <img class="portrait" src="img/me-profile-pic.png">
             </div>

            {{>footer}}
        </body>

</html>